<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CreateAR.Commons.Unity.Async" version="0.6.0" targetFramework="net35" />
  <package id="CreateAR.Commons.Unity.DataStructures" version="0.1.1" targetFramework="net35" />
  <package id="CreateAR.Commons.Unity.Logging" version="0.5.0" targetFramework="net35" />
  <package id="UnityEngine" version="2017.1.0.3" targetFramework="net35" />
</packages>